{% extends "template_base.html" %}

{% block title %}Create new Script{% endblock %}

{% block content %}
<form action="{% url "alert-create" %}" method="POST" class="pure-form pure-form-aligned" enctype="multipart/form-data">
    <fieldset>
        <div class="pure-controls">
            <legend>Add new alert</legend>
        </div>
        {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="pure-control-group">
            {{ form.name.errors }}
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="pure-control-group">
            {{ form.command.errors }}
            <label for="id_command">Command:</label>
            {{ form.command }}
        </div>
        <div class="pure-control-group">
            {{ form.time.errors }}
            <label for="id_time">Time:</label>
            {{ form.time }} <span>in minutes</span>
        </div>
        <div class="pure-control-group">
            {{ form.equality.errors }}
            <label for="id_equality">Equality:</label>
            {{ form.equality }}
        </div>
        <div class="pure-control-group">
            {{ form.threshold.errors }}
            <label for="id_threshold">Threshold:</label>
            {{ form.threshold }}
        </div>
        <div class="pure-control-group">
            {{ form.message.errors }}
            <label for="id_message">Message:</label>
            {{ form.message }}
        </div>
        <div class="pure-control-group">
            {{ form.servers.errors }}
            <label for="id_servers">Servers:</label>
            {{ form.servers }}
            <span class="helptext"> Hold down "Control", or "Command" on a Mac, to select more than one.</span>
        </div>
        <div class="pure-controls">
            <input id="save_script" type="submit" value="Create" class="pure-button pure-button-primary"/>
            <a href="{% url "script-list" %}">back to script list</a>
            <a href="{% url "index" %}">Back to index</a>
        </div>
    </fieldset>
</form>
{% endblock %}