<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div id="grids-unit pure-g-r">
        <div class="pure-u-1-12">
        </div>
        <div class="pure-u-3-4">
            {% block content %}{% endblock %}
        </div>
        <div class="pure-u-1-12">
        </div>
    </div>
</body>
</html>